accelerate==0.23.0
albumentations==1.2.1
datasets==2.14.5
huggingface_hub==0.14.1
matplotlib==3.5.2
numpy==1.22.4
opencv_python==4.8.0.74
opencv_python==4.6.0.66
opencv_python_headless==4.6.0.66
pandas==1.4.2
Pillow==9.1.1
Pillow==10.0.1
scikit_learn==1.1.1
seaborn==0.11.2
segmentation_models_pytorch==0.3.3
tifffile==2022.5.4
timm==0.9.7
torch==2.1.0
torch==2.0.0
torchvision==0.16.0
tqdm==4.64.0
transformers==4.28.1
